<nav>
<ul>
  <li><a href="./random/">&#x1f3b2; <i>random</i></a></li>
{{#each grammars}}
  <li><a href="./{{this}}/">{{deslug this}}</a></li>
{{/each}}
</ul>
</nav>

<footer>
<a href="https://github.com/jewel-andraia/basicbeach/" target="_blank">a tracery project</a> by <a href="https://twitter.com/ALadyJewel" target="_blank">@ALadyJewel</a>
{{#if output.attribution}}
<p>inspired by <a href="{{output.attribution}}" target="_blank">{{output.attribution}}</a></p>
{{/if}}
</footer>
